.store-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.store-img {
  float: right;
  border-radius: 4px;
}

.item-info {
  background-color: #EFEFEF;
  padding: 10px;
  border-radius: 4px;
}

.item-add-remove {
  padding-top: 5px;
}

.shopping-cart {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid rgb(228, 228, 228);
  border-radius: 4px;
  background-color: #EFEFEF;
}

.cart-header {
  padding-left: 5px;
  font-size: 20px;
  font-weight: bold;
}

.cart-body {
  padding: 5px;
}

.cart-item-row {
  margin-top: 10px;
}

.cart-item-header {
  color: grey;
  font-size: 75%;
}

.cart-total {
  margin-top: 10px;
  font-size: 24px;
}

.remove-all-items {
  float: right;
  font-size: 75%;
  padding-right: 5px;
}

.no-items-in-cart {
  color: #9D9D9D;
  margin-top: 10px;
}
